# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Node/Frontend
node_modules/
dist/
.env.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python/Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
backend/.env
*.sqlite3
*.db
sql_app.db

# Docker
.dockerignore
